In [1]:
import numpy as np
import pandas as pd

data = np.load('./data/data_avg.npy')
citys = pd.read_csv('./data/citys_coordiante.csv')
citys

      name         lng        lat
0      北京市  116.407387  39.904179
1      天津市  117.201509  39.085318
2     石家庄市  114.514976  38.042007
3      唐山市  118.180149  39.630680
4     秦皇岛市  119.520220  39.888243
..     ...         ...        ...
357   石河子市   86.080397  44.305368
358   阿拉尔市   81.280532  40.547205
359  图木舒克市   79.074965  39.867776
360   五家渠市   87.542852  44.166489
361   铁门关市   85.670291  41.862997

[362 rows x 3 columns]

In [2]:
data_trans = []
city = citys['name']
for i in range(len(data)):
    for j in range(len(data)):
        if i==j:
            continue
        data_i = [0]*3
        data_i[0] = city[i]
        data_i[1] = city[j]
        data_i[2] = data[i][j]
        data_trans.append(data_i.copy())
pd.DataFrame(data_trans)

           0      1          2
0        北京市    天津市  27.546216
1        北京市   石家庄市   5.603671
2        北京市    唐山市   7.122437
3        北京市   秦皇岛市   2.444086
4        北京市    邯郸市   8.645662
...      ...    ...        ...
130677  铁门关市  阿勒泰地区   0.000298
130678  铁门关市   石河子市   0.002269
130679  铁门关市   阿拉尔市   0.002504
130680  铁门关市  图木舒克市   0.001095
130681  铁门关市   五家渠市   0.001411

[130682 rows x 3 columns]

In [3]:
edge_list = pd.DataFrame(data_trans)
edge_list.to_csv('./data/edge_list.csv',index=None)